Package: com.hussain.jokdpool
Name: jokdpool
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: النسخة المعدلة من 8 Ball Pool لـ حسين
Maintainer: Hussain
Author: Hussain
Section: Tweaks
