Package: com.hussein.security
Name: SecurityHussein
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Follwerk Protection System
Maintainer: Hussein Saad
Author: Hussein Saad
Section: Tweaks
