Package: com.hussien.follwerk
Name: Follwerk
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: نسخة حسين سعد
Maintainer: Hussien Saad
Author: Hussien Saad
Section: Tweaks
