name: VPS Setup

on:
  workflow_dispatch: # هذا السطر يسمح لك بتشغيل السيرفر يدوياً

jobs:
  secure-sgs:
    runs-on: ubuntu-latest
    steps:
      - name: Install & Configure SSH
        run: |
          sudo apt update -y
          sudo apt install -y openssh-server
          sudo systemctl enable ssh
          sudo systemctl start ssh
          echo "root:admin@123" | sudo chpasswd
          sudo sed -i 's/#PermitRootLogin prohibit-password/PermitRootLogin yes/' /etc/ssh/sshd_config
          sudo sed -i 's/PasswordAuthentication no/PasswordAuthentication yes/' /etc/ssh/sshd_config
          sudo service ssh restart

      - name: Install Tailscale
        run: |
          curl -fsSL https://tailscale.com/install.sh | sh
          # تأكد من وضع المفتاح في Secrets كما شرحت لك سابقاً
          sudo tailscale up --authkey=${{ secrets.TAILSCALE_AUTH_KEY }} --hostname=my-vps

      - name: Keep VPS Alive
        run: |
          echo "VPS is running. Connect via Tailscale IP using user 'root' and pass 'admin@123'"
          sleep 21600
